:host {
    text-align: center;
    @include cursive;
    padding: 3vh 0;
    color: #fff;

    /deep/ .header-title-container-big {
        height: 100vh;
        background-color: $colorDark;
    }

    /deep/ .header-title-container-small {
        background-color: $colorDark;
        padding: 2.5vh 0;
    }
    
    /deep/ .header-title-big {    
        font-size: 4em;
        padding-top: 25vh;
    }

    /deep/ .header-title-small {
        font-size: 2.5em;
    }

    /deep/ .header-subtitle-big {
        font-size: 2em;
    }

    /deep/ .header-subtitle-small {
        font-size: 1em;
    }
}

