/deep/ .searchbar {
    margin: 3vh; 

    input {
        padding: 1vh 2vh;
        width: 60vmin;
        border-radius: 8px;
        font-size: 1.3em;
        color: $colorDarker;
        @include sans-serif;
    }

    .search-input {
        border: 2px solid $colorDarker;
    }

    .search-input-error {
        border: 2px solid $errorColor;
    }

    .error-text {
        color: $errorColor;
        font-weight: bold;
    }
}